<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Job Description Generator</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <h1>취준생용 Job Description 생성기</h1>
    <!-- <p><img src="/static/images/job_/img.png" alt="직업설명"></p> -->

    <form id="jobForm" action="/generate" method="post">
        <label>직군</label>
        <input type="text" name="job_role" placeholder="예: 데이터 분석가" required>

        <label>숙련도</label>
        <input type="text" name="level" placeholder="예: 신입 / 주니어 / 시니어" required>

        <button type="submit" id="submitBtn">생성하기</button>
    </form>
    <!-- 로딩 애니메이션 -->
    <div id="loading" class="loading-container" style="display:none;">
        <div class="spinner"></div>
        <p>AI가 직무 설명을 생성 중입니다...</p>
    </div>
    {% if result %}
    <div>
        <h2>{{ result.job_role }} <small>({{ result.level }})</small></h2>
        <h3>핵심 기술 역량</h3>
        <ul>
            {% for item in result.core_skills.split(',') %}
                <li>{{ item.strip() }}</li>
            {% endfor %}
        </ul>
        <h3>필수 도구 및 기술 스택</h3>
        <ul>
            {% for item in result.tools.split(',') %}
                <li>{{ item.strip() }}</li>
            {% endfor %}
        </ul>
        <h3>비기술 역량</h3>
        <ul>
            {% for item in result.soft_skills.split(',') %}
                <li>{{ item.strip() }}</li>
            {% endfor %}
        </ul>
        <h3>직무 설명</h3>
        <p>{{result.description}}</p>
    </div>
    {% endif %}

    </body>
</html>
<script src="/static/js/main.js"></script>